
		
			header{
				text-align:center;
			}
			body{
				background-color:lightgray;
			}
			#topContainer { 	
				width:800px;
				margin:0 auto;
				
			}
			.container{
				background-color:white;
				padding-left:20px;
				padding-bottom:20px;
			}
			
			h2 { padding-top:10px; }
			
			
			.container rect {
			  fill: steelblue;
			}

			
			
			.axis text {
			  font: 10px sans-serif;
			}

			.axis path,
			.axis line {
			  fill: none;
			  stroke: #000;
			  shape-rendering: crispEdges;
			}
			.x.axis path {
			  display: none;
			}
			
			.barText {
			  fill: white;
			  font: 10px sans-serif;
			  text-anchor: middle;
			}
			
      path.line1 { 
        stroke: blue;
        stroke-width: 4;
        fill: none;
      }
      
      path.line2 { 
        stroke: red;
        stroke-width: 4;
        fill: none;
      }
      
      .xaxis path { 
        stroke: yellow;
        stroke-width: 4;
        fill: none;
      }
      
      .yaxis path { 
        stroke: purple;
        stroke-width: 4;
        fill: none;
      }
      
      svg {
        border:1px solid black;
      }
      
      axis {fill: none;
        stroke: yellow;
        stroke-width: 2;
        shape-rendering: crispEdges;
    }