<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<!-- load the d3.js library -->    
		<script src="http://d3js.org/d3.v3.min.js"></script>
		
		<style> /* set the CSS */


		</style>
	</head>
	
	<body>
	
		<div id="option"> 
			<input name="city" id="city" type="input" value="City"> 
			<input name="changeCity" type="button" value="ChangeCity" onclick="changeCity()"> 
		</div>
		<div id="container">
			<h2>Wheather</h2>
		</div>
		<div id="clouds">
			<h2>Cloudiness %</h2>
		</div>
		<div id="barChart">
			<h2>Cloudiness %</h2>
		</div>
		<script>
		
		var data; // a global to hold the json data
		var list; // a global to hold the list part from the data
		var dataAll; // a global to hold the json data
		var listAll; // a global to hold the list part from the data
		var dataBarChart; // a global to hold the json data
		var listBarChart; // a global to hold the list part from the data

		var getData = function(url){
		
			//This function is a xhr callback for the json data
			d3.json(url, function(error, json) {
				  if (error) return console.warn(error);
				  data = json;	//assign to global
				  list=json.list;
				  
				  visualise();
			});
		}

		var getDataAll = function(url){
		
		//This function is a xhr callback for the json data
		d3.json(url, function(error, json) {
			  if (error) return console.warn(error);
			  dataAll = json;	//assign to global
			  listAll=json.list;
			  
			  visualiseAll();
		});
	}

	var getDataBarChart = function(url){
		
		//This function is a xhr callback for the json data
		d3.json(url, function(error, json) {
			  if (error) return console.warn(error);
			  dataBarChart = json;	//assign to global
			  listBarChart=json.list;
			  
			  visualiseBarChart();
		});
	}

		visualise = function() {
		
			//Enter section: Builds graph from scratch
			d3.select("#container")
				.selectAll("div")
				.data(list)	//load the list data
				.enter().append("div")
					.style("width", function(d,i){
							return d.temp.max * 20 + "px";	//width is computed from the max temp
						})
					.style("height", "30px")		//set height and color of the div elements
					.style("background-color", "red")
				.append("p")
				.text(function(d,i){	//add text to the p element displaying the max temp
					return d.temp.max;
					});
		
			//Update section: Update when city changes
			d3.select("#container")
				.selectAll("div")
				.data(list)
					.style("width", function(d,i){
							return d.temp.max * 20 + "px";
						})
					.style("height", "30px")
					.style("background-color", "red")
				.select("p")
				.text(function(d,i){
					return d.temp.max;
					});
		}

		visualiseAll = function() {
		
		//Enter section: Builds graph from scratch
		d3.select("#clouds")
			.selectAll("div")
			.data(listAll)	//load the list data
			.enter().append("div")
				.style("width", function(d,i){
						return d.clouds * 5 + "px";	//width is computed from the max temp
					})
				.style("height", "30px")		//set height and color of the div elements
				.style("background-color", "red")
			.append("p")
			.text(function(d,i){	//add text to the p element displaying the max temp
				return d.clouds;
				});
	
		//Update section: Update when city changes
		d3.select("#clouds")
			.selectAll("div")
			.data(listAll)
				.style("width", function(d,i){
						return d.clouds * 5 + "px";
					})
				.style("height", "30px")
				.style("background-color", "red")
			.select("p")
			.text(function(d,i){
				return d.clouds;
				});
	}

	visualiseBarChart = function() {

		console.log(listBarChart);

		var margin = ({top: 20, right: 0, bottom: 30, left: 40}),
		width = 600 - margin.left - margin.right,
		height = 600 - margin.top - margin.bottom;
		
		//Enter section: Builds graph from scratch
		var svg = d3.select("#barChart")
			.append("svg")
			.attr('width', width + margin.left + margin.right)
    		.attr('height', height + margin.top + margin.bottom)
    		.append('g')
    		.attr('transform', "translate("+ margin.left + "," + margin.right + ")");

	
		//create bars
		var bars = svg.append('g')
					.attr('class', 'bars');
		
		var xScale = d3.scale.linear()
					.domain([0, listBarChart.length])
					.range([0, width])

		var yScale = d3.scale.linear()
					.domain([0, d3.max(list,d => d.temp.max)])
					.range([height,0])

		var xAxis = d3.svg.axis().scale(xScale)
					.orient("bottom").ticks(5);
		
		var yAxis = d3.svg.axis().scale(yScale)
					.orient("left").ticks(5);


		// Bind data to chart, and create bars
		bars.selectAll('rect')
			.data(listBarChart)
			.enter()
			.append('rect')
			.attr('x', (d,i) => xScale(i) )
			.attr('y', (d) => yScale(d.temp.max))
			.attr('width', xScale(0.9))
			.attr('height', (d) => yScale(0) - yScale(d.temp.max))
			.append("p")
			.text(function(d,i) {
				return d.temp.max
			});

		svg.append("g")
			.attr("class", "xaxis")
			.attr("transform", "translate(0," + height + ")")
			.call(xAxis);
		
		svg.append("g")
		.attr("class","yaxis")
      		.call(yAxis);


		}
		
			
		function changeCity()
		{
			//This function is called by the button to change city
			
			var city = document.getElementById("city").value;
			console.log("City name:" + city);
			
			//Build url for the new city
			var url = "http://api.openweathermap.org/data/2.5/forecast/daily?q=" + city + "&mode=json&units=metric&cnt=7&appid=139534f48d889a380b62e96132eb44fd"
			getData(url);

			//Build url for the new city
			var urlAll = "http://api.openweathermap.org/data/2.5/forecast/daily?q=" + city + ",all&mode=json&units=metric&cnt=7&appid=139534f48d889a380b62e96132eb44fd"
			getDataAll(urlAll);

			//Build url for the new city
			var urlBarChart = "http://api.openweathermap.org/data/2.5/forecast/daily?q=" + city + ",all&mode=json&units=metric&cnt=7&appid=139534f48d889a380b62e96132eb44fd"
			getDataBarChart(urlBarChart);
		}
		
		//Starts visualisation when page loads the first time.. url is for Dublin
		var url = "http://api.openweathermap.org/data/2.5/forecast/daily?q=Dublin,ireland&mode=json&units=metric&cnt=7&appid=139534f48d889a380b62e96132eb44fd"
		getData(url);
	
			//Build url for the new city
			var urlAll = "http://api.openweathermap.org/data/2.5/forecast/daily?q=Dublin,ireland,all&mode=json&units=metric&cnt=7&appid=139534f48d889a380b62e96132eb44fd"
			getDataAll(urlAll);
		
		//Build url for the new city
		var urlBarChart = "http://api.openweathermap.org/data/2.5/forecast/daily?q=Dublin,ireland,all&mode=json&units=metric&cnt=7&appid=139534f48d889a380b62e96132eb44fd"
			getDataBarChart(urlBarChart);
			

		</script>
		
	</body>
</html>
